name: continuous-deployment

on:
  push:
    tags:
      - v*

jobs:

  maven:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout SCM
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Deploy package with Maven
        run: >
          mvn --settings settings.xml -B clean install deploy:deploy-file
          -Durl=https://maven.pkg.github.com/rdlopes/nifi-open-nlp
          -DrepositoryId=github
          -Dfile=nifi-nlp-nar/target/nifi-nlp-nar.nar
          -DpomFile=nifi-nlp-nar/pom.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}

  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Checkout SCM
        uses: actions/checkout@v1

      - name: docker build
        run: actions/docker/cli@master
        args:
          - build -t docker.pkg.github.com/rdlopes/nifi-open-nlp/nifi:${{ steps.get_version.outputs.VERSION }} .

      - name: docker login
        uses: actions/docker/login@master
        env:
          DOCKER_REGISTRY_URL: docker.pkg.github.com
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      - name: docker push
        uses: actions/docker/cli@master
        args:
          - push docker.pkg.github.com/rdlopes/nifi-open-nlp/nifi:${{ steps.get_version.outputs.VERSION }}
