name: continuous-deployment

on:
  push:
    tags:
      - '!*.*.*-SNAPSHOT'

jobs:

  maven:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout SCM
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Deploy package with Maven
        run: mvn --settings settings.xml -B clean install deploy:deploy || ${{ true }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}

  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Checkout SCM
        uses: actions/checkout@v1

      - name: Login to docker hub as ${{ github.actor }}
        uses: actions-hub/docker/login@master
        env:
          DOCKER_REGISTRY_URL: docker.pkg.github.com
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.LOCAL_TOKEN }}

      - name: docker build ${{ TAG }}
        if: success()
        run: docker build -t ${{ TAG }} .
        env:
          TAG: build docker.pkg.github.com/${{ github.actor }}/${{ github.repository }}/nifi:${{ steps.get_version.outputs.VERSION }}

      - name: docker push ${{ TAG }}
        if: success()
        uses: actions-hub/docker@master
        with:
          args: push ${{ TAG }} || ${{ true }}
        env:
          TAG: build docker.pkg.github.com/${{ github.actor }}/${{ github.repository }}/nifi:${{ steps.get_version.outputs.VERSION }}
